Q1 - What are data structures, and why are they important?

Ans : Data structures in Python are ways to organize data so it can be accessed efficiently.

They are important because Data structures make it easier to access data efficiently. They are the fundamentals for building programs in Python. They allows to organize data in a way that's best for use case. Data structures make it easier to access data efficiently.

Q2 - Explain the difference between mutable and immutable data types with examples?

Ans : Mutable data types can be changed after they are created, while immutable data types cannot be changed after theya rer creates.

Mutable data types:

Examples: Lists, dictionaries, and sets.

You can add, remove, or update their properties or elements.

Immutable data types:

Examples: Strings, tuples, integers, and floats.

You cannot change their values or properties directly

Q3 - What are the main differences between lists and tuples in Python?

Ans : The main difference between lists and tuples in Python is that lists are mutable, while tuples are immutable. This means that lists can be modified, while tuples cannot be modified.

Q4 - Describe how dictionaries store data?

Ans - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Q5 - Why might you use a set instead of a list in Python?

Ans : Users prefer sets as they are standard Python data type that also store values. The major difference is that sets, unlike lists or tuples, cannot have multiple occurrences of the same element and store unordered values.

Q6 - What is a string in Python, and how is it different from a list?

Ans : A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Q7 - How do tuples ensure data integrity in Python?

Ans - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

Q8 - What is a hash table, and how does it relate to dictionaries in Python?

Ans - A hash table is a data structure that's implemented by the dictionary data type (dict). A hash table is a type of associative array that maps keys to values.

Q9 - Can lists contain different data types in Python?

Ans - In a list, you can store objects of any type. You can also mix objects of different types within the same list, although list elements often share the same type.

Q10 - Explain why strings are immutable in Python?

Ans - If the string object can be modified, its value can be changed, and because of this, the class that will be loaded will be different. To avoid such misinterpretation, strings are immutable.

Q11 - What advantages do dictionaries offer over lists for certain tasks?

Ans - Dictionaries have several advantages over lists for certain tasks, including faster lookups, easier code reading, and more compact code.

Q12 - Describe a scenario where using a tuple would be preferable over a list?

Ans - Tuples can't be changed after they're created, but lists can be modified. Tuples use less memory than lists. They are also a bit faster, especially when you're just looking up values. So, if you have data that you don't want to change, it's better to use tuples instead of lists.

Q 13 - How do sets handle duplicate values in Python?

Ans - Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

Q14 - How does the “in” keyword work differently for lists and dictionaries?

Ans - The "in" keyword allows developers to test whether strings, tuples, lists and other sequence-based data types contain a certain value. in keyword can be used to test whether certain characters are present in a string or a certain value present in a list or tuple.

wheras The "in" and "not in" operator works on dictionaries in this way ; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False.

Q15 - Can you modify the elements of a tuple? Explain why or why not?

Ans - No, you cannot directly modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; this is a key distinction between tuples and lists, which are mutable and allow for element modifications

Q16 - What is a nested dictionary, and give an example of its use case?

Ans - A nested dictionary is a dictionary that is stored as a value within another dictionary. It is a powerful concept in programming that allows for storing data with multiple layers of organization.

Example use case - Inventory systems: Track product categories, subcategories, and individual product details.

Q17 - Describe the time complexity of accessing elements in a dictionary?

Ans - The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup

Q18 - In what situations are lists preferred over dictionaries?

Ans - Mutability and Order: While both data structures are mutable, their handling of order differs. Lists maintain the order of elements, whereas dictionaries, despite keeping insertion order from Python, focus on efficient key lookups.

Q19 - Why are dictionaries considered unordered, and how does that affect data retrieval

Ans - Dictionaries are considered unordered because they don't maintain the order in which items were added. This is because they're optimized for fast lookups, not for maintaining order.

Q20 - Explain the difference between a list and a dictionary in terms of data retrieval?

Ans - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

Practical Questions

Q1 - Write a code to create a string with your name and print it?

In [31]:
# Ans 1
name = "Ajay Tiwari"

print(name)

Ajay Tiwari

Q2 - Write a code to find the length of the string "Hello World"?

In [32]:
#Ans 2

text = str("Hello World")

length = len(text)

print(length)

11

Q3 - Write a code to slice the first 3 characters from the string "Python Programming?

In [33]:
# Ans 3

text = "Python Programming"

sliced_text = text[:3]

print(sliced_text)

Pyt

Q4 - Write a code to convert the string "hello" to uppercase?

In [34]:
#Ans 4

text = "hello"

uppercase_text = text.upper()

print(uppercase_text)

HELLO

Q5 - Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [35]:
# Ans 5
text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

Q6 - Write a code to create a list with numbers 1 to 5 and print it?

In [62]:
#Ans 6

list = [1,2,3,4,5]

print(list)

type(list)

[1, 2, 3, 4, 5]

list

Q7 - Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [63]:
#Ans 7
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

Q8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [64]:
# Ans8

list.remove(3)
print(list)

[1, 2, 4, 5, 10]

Q9 - Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [94]:
#Ans 9
list = ['a', 'b', 'c', 'd']
list[1]

'b'

Q10 - Write a code to reverse the list [10, 20, 30, 40, 50]?

In [93]:
#Ans 10
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Q11 -  Write a code to create a tuple with the elements 10, 20, 30 and print it

In [92]:
# Ans 11
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

Q12 -  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [91]:
#Ans 12
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

Q13 - Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [90]:
#Ans 13
tuple = (1,2,3,2,4,2)
tuple.count(2)

3

Q14 -  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [89]:
# Ans 14
tuple = ('dog', 'cat', 'rabbit')
index = tuple.index('cat')
print(index)

1

Q15 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [88]:
#Ans 15
tuple = ('apple', 'orange', 'banana')
'banana' in tuple

True

Q16 - Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [97]:
#Ans 16
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

Q17 - Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [98]:
#Ans 17
set = {1,2,3,4,5}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

Q18 - Write a code to create a tuple with the elements 10, 20, 30 and print it

In [99]:
# Ans 18
tuple= [10,20,30]
print(tuple)

[10, 20, 30]

Q19 -  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [100]:
#Ans 19
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

Q20 -  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [101]:
# Ans 20
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

Q21 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [102]:
# Ans 21
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

Q22 - Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [103]:
#Ans 22
tuple = ('apple', 'orange', 'banana')
 'banana' in tuple

True

Q23 -  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [104]:
#Ans 23
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

Q24 - Write a code to add the element 6 to the set {1, 2, 3, 4}

In [105]:
#Ans 24
set = {1,2,3,4,5}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}